[user]
	name = Ben_Westrate
	email = ben.westrate@agilebits.com
	signingkey = 203066264CFCD22D

[github]
  user = benwestrate

[alias]
  
  ci = commit --edit -v


[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true








[mergetool]
	keepBackup = false
[ghi]
	token = !security find-internet-password -a benwestrate -s github.com -l 'ghi token' -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
